@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.patates{
  position: fixed;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  background-color:aqua;
  /* border: 3px solid #73AD21; */
}

.karota{
  position: fixed;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color:blueviolet;
  z-index: 1;
}

.brokola{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  font-size: 50px;
  font-family: 'Fasthand', cursive;
}