@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
.patates {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 50%;
  height: 100%;
  background-color: aqua;
}

.karota {
  position: fixed;
  top: 0%;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: blueviolet;
  z-index: 1;
}

.brokola {
  padding: 10px;
  border-collapse: separate;
  border-spacing: 10px;
  color: rgb(129, 129, 18);
  text-decoration: none;
  border-width: 7px;
  border-style: dotted;
  border-color: olive;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  font-size: 100px;
  font-family: "Fasthand", cursive;
  transition: padding 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.brokola:hover{
  border-collapse: separate;
  border-spacing: 50px;
  border-color: red;
  color: red;
  text-align:right;
  border-width: 12px;
  padding: 40px;
}